body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
}

.login_form {
  display: flex;
  flex-direction: column;
  background-color: skyblue;
  padding: 40px 40px 40px 40px;
  border-radius: 10%;
}

.form_title {
  display: flex;
  justify-content: center;
}

.input_title {
  display: flex;
  justify-content: space-between;
}

button {
  height: 50px;
  border: none;
}

.warning {
  display: flex;
  justify-content: center;
}

.clock {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.hours {
  font-size: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.hidden {
  display: none;
}

#greeting {
  padding-top: 20px;
}

.todolist_title {
  padding-top: 30px;
}
